HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.env
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# ML artifacts
# Ignore ML model artifacts only
nyayaai-ml-service/legal_section_model/
nyayaai-ml-service/*.pt
nyayaai-ml-service/*.csv
nyayaai-ml-service/*.bin
nyayaai-ml-service/*.onnx
nyayaai-ml-service/*.pkl
nyayaai-ml-service/*.model

# Python cache
__pycache__/
*.pyc
